# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
/INSTALL

# http://www.gnu.org/software/automake

Makefile.in

# autoscan

/autoscan.log
/configure.scan
/config.h.in

# configure

Makefile
/config.h
/config.log
/config.status
.deps

# make

*.o

# Don't track intermediary files from building the manual
doc/*.aux
doc/*.fdb_latexmk
doc/*.fls
doc/*.log
doc/*.out
doc/*.toc

# Don't track the STAR binary once it has being built
source/STAR
